<div class="show">

  <%= render "/fashionistas/nav" %>

  <div class="container">
    <div class="col-md-10">

      <div class="profile">
      <img src="<%= @fashionista.pic_url %>" class="profile-pic" />

      <h3>
        <b><%= @fashionista.username %></b><br/>
        <a href="/profile/edit" class='edit'>
          Edit profile
        </a>
      </h3>

      <p>
        <i class="fa fa-quote-left"></i>
        <b><%= @fashionista.tagline %></b>
        <i class="fa fa-quote-right"></i>
      </p>

      <p>
        <img src='/assets/hanger-icon.png' />
        <b><%= Style.find(@fashionista.style_id).name.capitalize %></b>
      </p>

    </div>


    <div class="closet">
      <h2>
        Your closet
        <a href="items/new" class='add'>
          Add items <i class="fa fa-plus"></i>
        </a>
      </h2>

      <% if @items.length > 0 %>
      <% @items.each do |item| %>
        <a href='/items/<%= item.id %>'>
          <img src="<%= item.image_url %>" class='thumbnail' />
        </a>
      <% end %>
      <% end %>

      <div class="row"></div>
    </div>

    </div> <!-- col md 10 -->

  </div> <!-- container -->

</div> <!-- show -->
