<div class="show">

<%= render "/fashionistas/nav" %>

<div class="container"> 
  <div class="col-md-10"> 
  <h2>
    <b><%= current_fashionista.username %>'s profile <br/></b>
  </h2>


  <img src="<%= current_fashionista.pic_url %>" class="profile" /><br/>

  <p>
    Tagline: <b><%= current_fashionista.tagline %></b><br/>
    Style: <b><%= Style.find(current_fashionista.style_id).name.capitalize %></b>
  </p>

  <a href="/profiles/edit" class='button'>
    <button>Edit profile</button>
  </a>  


  <form action='/fashionistas/<%= current_fashionista.id %>' method='post' class='button'>
    <%= token_tag %>
    <input type='hidden' name='_method' value='delete'>
    <button>Delete account</button>
  </form>

  <a href="/profiles/items/new" class='button'>
    <button>Search for items</button>
  </a> 

  
  <h3>Your closet</h3>
  <%# @fashionista.items.sample(5) %>
    <%#= %>
  <%# end %>
    
  <div class="row"></div>
  </div>
 
</div>

</div>
