<div class="welcome">


<div class='jumbotron'>
  <div class="container">
    <h1>Fashioni.se</h1>
    <p>A virtual closet assistant</p>
  </div>
</div>  


<div class="container">
  <%= form_tag sessions_path do %>
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>  
    <%= submit_tag "Sign in" %>
  <% end %>

  <!--
  <form class='form-signin' id='login'>
    <h3 class='form-signin-heading'>
      Log in or <a href="/fashionistas/new">Sign up</a>
    </h3>  
   
    <input type='text' name='[fashionista]username' placeholder='Username' class='form-control'>
    <div class="row">&nbsp;</div>
    <input type='password' name='[fashionista]password' placeholder='Password' class='form-control'>
    
    <div class="row">&nbsp;</div>
    <button class='btn btn-lg btn-primary btn-block'>Log in</button>
  </form>
-->

</div>


<!--div id='footer'>
  <div class="container">
    <p class='text-muted'>Copyright <a href="http://nessanguyen.com">Nessa Nguyen</a></p>
  </div>
</div-->


</div>
