<table class='form'>
  <%= form_for @fashionista do |f| %>
    <tr>
      <td><%= f.label :username, "Username:" %></td>
      <td><%= f.text_field :username %> </td>
    </tr>

    <tr>
      <td><%= f.label :email, "Email:" %></td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr>
      <td><%= f.label :tagline, "Tagline:" %></td>
      <td><%= f.text_field :tagline %></td>
    </tr>

    <tr>
      <td><%= f.label :pic_url, "Profile picture URL:" %></td>
      <td><%= f.text_field :pic_url %></td>
    </tr>

    <!--tr>
    <td><%= f.label :type, "Pick what you're interested in:" %></td>
    <td>
    <%= f.radio_button :type, "women" %>
    <%= f.label :type, "Women's wear", value: 'women' %>
    <br/>
    <%= f.radio_button :type, "men" %>
    <%= f.label :type, "Men's wear", value: 'men' %>
    </td>
    </tr-->

    <tr>
      <td><%= f.label :budget, "Choose your budget range:" %></td>
      <td><%= f.select :budget, ['Under $50', '$50 - $100', 'Over $100'] %></td>
      <%#:prompt => 'Select one' %>
    </tr>

    <tr>
      <td><%= f.label :size, "Select your clothing size:" %></td>
      <td><%= f.select :size, ['XXS (0)', 'XS (2)', 'S (4-6)', 'M (8-10)', 'L (12-14)', 'XL (16-18)'] %> </td>
    </tr>

    <tr>
      <td><%= f.label :style_id, "Pick a style that most describes you:" %></td>
      <td><%= f.collection_select :style_id, Style.all, :id, :name %></td>
    </tr>

    <tr>
      <td><%= f.label :password, "Password:" %></td>
      <td><%= f.password_field :password %></td>
    </tr>

    <tr>
      <td colspan='2' class='confirm'>
        <%= f.submit %>
      </td>
    </tr>
  <% end %>
</table>
