  
<div class="nav">
  <% if current_fashionista %>
    <%= link_to "Signed in as "+current_fashionista.username, '/profiles', method: :get %> |
    <%= link_to "Log out", sessions_path, method: :delete %> |
    <%= link_to "All fashionistas", '/fashionistas', method: :get %>
  <% else %>
    <%= link_to "Log in", root_path, method: :get %> | 
    <%= link_to "Sign up", '/fashionistas/new', method: :get %> |
    <%= link_to "All fashionistas", '/fashionistas', method: :get %>
  <% end %>
</div>
