<div class="show">
  <%= render "nav" %>

  <div class="container">

    <div class="col-md-10">
    <div class="profile">
      <img src="<%= @fashionista.pic_url %>" class="profile-pic" />

      <h3>
        <b><%= @fashionista.username %>'s profile</b>
      </h3>

      <p>
        <i class="fa fa-quote-left"></i>
        <b><%= @fashionista.tagline %></b>
        <i class="fa fa-quote-right"></i>
      </p>

      <p><img src='/assets/hanger-icon.png' /></td>
        <b><%= @style.name.capitalize %></b>
      </p>
    </div> <!-- profile -->

    <div class="closet">
      <h3>
        <%= @fashionista.username %>'s closet
      </h3>

      <% @items.each do |item| %>
      <a class="other" data="<%= item.id %>">
        <img style="background-image: url(<%= item.image_url %>)" />
        <div>
          <%= item.description %><br/>
          <span>Click to copy <i class="fa fa-plus"></i></span>
        </div>
      </a>
      <% end %>
    </div> <!-- closet -->

    <div class="row"></div>
    </div> <!-- col md 10 -->

  </div> <!-- container -->

</div> <!-- show -->
