<div class="show">

<%= render "nav" %>


<div class="container"> 

  <div class="col-md-10"> 
  <h2>
    <b><%= @fashionista.username %>'s profile <br/></b>
  </h2>


  <img src="<%= @fashionista.pic_url %>" class="profile" /><br/>

  <p>
    Tagline: <b><%= @fashionista.tagline %></b><br/>
    Style: <b><%= Style.find(@fashionista.style_id).name.capitalize %></b>
  </p>
  
 
  <h3><%= @fashionista.username %>'s closet</h3>
  <% @fashionista.items.each do |item| %>
    <img src="<%= item.image_url %>" class='thumbnail' />
  <% end %>
    
  <div class="row"></div>
  </div>
 
</div>

</div>
