<div class="show">

  <%= render 'fashionistas/nav' %>

  <div class="container search">

    <h2><%= @fashionista.username %>'s closet</h2>

    <ul class='search-result'>
      <% @items.each do |item| %>
        <li>
          <div class="img-frame">
            <a href='<%= item.url %>' target='_blank'>
              <img src='<%= item.image_url %>' />
            </a>
          </div>

          <p>
            <%= item.description %> | <%= item.price %>
          </p>

          <button data='<%= item.id %>' class='copy-item'>Copy item</button>

        </li>
      <% end %>
    </ul>

  </div>
</div>
