<div class="show">

  <%= render 'fashionistas/nav' %>

  <div class="container search">

    <h2><%= @fashionista.username %>'s closet</h2>

    <ul class='search_result'>
      <% @items.each do |item| %>

        <li>
          <div class="img_frame">
            <a href='<%= item.url %>'>
              <img src='<%= item.image_url %>' target='_blank' />
            </a>
          </div>

          <p>
            <%= item.description %> | <%= item.price %>
          </p>


          <form action='/items/copy' method='post'>
            <%= token_tag %>
            <input type='hidden' name='item_id' value='<%=item.id%>'>
            <input type='submit' value='Copy item'>
          </form>

        </li>

      <% end %>
    </ul>

  </div>
</div>
