<div class="show">

<%= render 'fashionistas/nav' %>

<div class="container">

  <div class="col-md-10">  
  <h2><%= @fashionista.username %>'s closet</h2>  
    <% @items.each do |item| %>
    <div class='result'>
      <a href='<%= item.url %>'>
        <img src='<%= item.image_url %>' height="200" />
      </a>

      <p>
        <%= item.description %> | <%= item.price %>
      </p>  
    </div>

    <% end %> 
  </div>

</div>
</div>
