<div class="show">
  <div class="container">

  <h2>Trendy items this season: </h2>  
  <p>Click to search:</p>

  <form action='/fashionistas/<%= @fashionista.id %>/items/search' method='get'>

    <input type='hidden' name='search_term' value='leather top'>
    <button>Leather top</button>  
  </form>

  <form action='/fashionistas/<%= @fashionista.id %>/items/search' method='get'>
    <input type='hidden' name='search_term' value='leather shorts'>
    <button>Leather shorts</button>  
  </form>

  <form action='/fashionistas/<%= @fashionista.id%>/items/search' method='get'>
    <input type='hidden' name='search_term' value='leather skirt'>
    <button>Leather skirt</button>  
  </form>  

  <form action='/fashionistas/<%= @fashionista.id%>/items/search' method='get'>
    <input type='hidden' name='search_term' value='fringe top'>
    <button>Fringe top</button>  
  </form>

  <form action='/fashionistas/<%= @fashionista.id%>/items/search' method='get'>
    <input type='hidden' name='search_term' value='fringe dress'>
    <button>Fringe dress</button>  
  </form>

summer leather
sundress
summer denim
fringe
sandals
cutout, bodycon
print
floral
work/business
    
    
  </div>
</div>
