<div class="show">
  <div class="container search">

    
  <% @items.each do |item| %>

  <div class='result'>
    <div class="img_frame">  
      <img src='<%= item[:image_url] %>' />
    </div>

  <p>
    <a href='<%= item[:url] %>'>
      <%= item[:name] %>  
    </a> <%= item[:price] %>
  </p>

  <form action='/profiles/items/save' method='post'>
    <%= token_tag %>
    <input type='hidden' name='shopstyle_id' value='<%= item[:shopstyle_id] %>'>
    <input type='submit' value='Save to closet'>
  </form>

  <% end %>  
  </div>

  <div class="row">&nbsp;</div>
</div>
