<div class="show">

  <div class="nav">
    <a href="/profiles/items/new">
      Back to search
    </a>
  </div>


  <div class="container search">
    <h2>Search results for "<%= params[:search_term] %>"</h2>

    <ul class='search-result'>
      <% @items.each do |item| %>

        <li>
          <div class="img_frame">
            <img src='<%= item[:image_url] %>' />
          </div>

          <p>
            <a href='<%= item[:url] %>' target='_blank'>
              <%= item[:name] %>
            </a> <%= item[:price] %>
          </p>

          <button data="<%= item[:shopstyle_id] %>">Save to closet</button>
        </li>

      <% end %>
    </ul>

  </div>
</div>
