<div class="show">

  <div class="nav">
    <a href="/profile">
      Back to profile
    </a>
  </div>

  <div class="container">

    <div class='item-show'>
      <h3>
        <a href='<%= @item.url %>' target='_blank'>
          <%= @item.description %>
        </a>
        &nbsp; <%= @item.price %>
      </h3>

      <!--img src='<%= @item.image_url %>' /-->

      <form action='/profiles/items/<%= @item.id %>' method='post' class='remove'>
        <%= token_tag %>
        <input type='hidden' name='_method' value='delete'>
        <a>Remove from closet <i class='fa fa-times'></i></a>
      </form>

      <iframe src="<%= @item.url %>" seamless></iframe>

    </div>
  </div>
</div>
