<div class="show">

<div class="nav">
  <a href="/profiles">
    Back to profile
  </a>  
</div>

<div class="container">

  <div class="col-md-6">

  <h3>
    <a href='<%= @item.url %>' target='_blank'>
      <%= @item.description %>  
    </a>
      &nbsp; <%= @item.price %>
  </h3>  
 

  <div class='item_show'>
    <img src='<%= @item.image_url %>' />
    
  <form action='/profiles/items/<%= @item.id %>' method='post'>
    <%= token_tag %>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Remove from closet' class='button'>
  </form>
  </div>

  </div>
</div>
</div>
