<!DOCTYPE html>
<html>
  <head>
    <title>Fashioni.se</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'hanger-icon.png' %>

    <!-- Third-party libs -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Special+Elite|Sanchez|Satisfy' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <% if flash %>
      <div class="alert">
        <%= flash.now[:alert] %>
        <%= flash.now[:notice] %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
